USE [master]
GO
/****** Object:  Database [SuperStore_db]    Script Date: 11/3/2025 1:38:25 μμ ******/
CREATE DATABASE [SuperStore_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SuperStore_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SuperStore_db.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SuperStore_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SuperStore_db_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuperStore_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuperStore_db]
GO
/****** Object:  Table [dbo].[SuperStore_Orders]    Script Date: 11/3/2025 1:38:25 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuperStore_Orders](
	[order_id] [nvarchar](50) NOT NULL,
	[order_date] [date] NOT NULL,
	[ship_date] [date] NOT NULL,
	[ship_mode] [nvarchar](50) NOT NULL,
	[customer_name] [nvarchar](50) NOT NULL,
	[segment] [nvarchar](50) NOT NULL,
	[state] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[market] [nvarchar](50) NOT NULL,
	[region] [nvarchar](50) NOT NULL,
	[product_id] [nvarchar](50) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[sub_category] [nvarchar](50) NOT NULL,
	[product_name] [varchar](max) NOT NULL,
	[sales] [int] NULL,
	[quantity] [int] NULL,
	[discount] [float] NOT NULL,
	[profit] [float] NOT NULL,
	[shipping_cost] [float] NULL,
	[order_priority] [nvarchar](50) NOT NULL,
	[year] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
